@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
  font-family: "Titillium Web", sans-serif;
}

:root {
  --primaryColor: #7a63f1;
  --secondaryColour: #ebe8fc;
  --textColor: #a3a3a3;
  --greyColor: #f4f4f4;
  --whiteColor: #f5f4fa;
  --blackColor: #434344;

}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

p {
  color: var(--textColor);
  line-height: 1.4rem;
}